In [2]:
import pandas as pd
a =[1,2,3]
b = pd.Series(a)
print(b)
print(b[0])

0    1
1    2
2    3
dtype: int64
1

In [4]:
c = ['hassan' , 'Ali' ,'Muneeb']
df = pd.Series(c)
print(df[2])

Muneeb

In [5]:
df = pd.Series(c , index=['c' , 'v' ,'n'])
print(df)

c    hassan
v       Ali
n    Muneeb
dtype: object

In [6]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [7]:
data = {
  "name": ['Hassan', 'Ali', 'Muneeb'],
  "Rollno": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

     name  Rollno
0  Hassan      50
1     Ali      40
2  Muneeb      45

In [8]:
print(df.loc[1])

name      Ali
Rollno     40
Name: 1, dtype: object

In [9]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45