In [1]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [4, 5, 6], 'B': [7, 8, 9]})

# concatenate the DataFrames row-wise
result = pd.concat([df1, df2])
print(result)

   A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8
2  6  9

In [5]:
df1 = pd.DataFrame({'name': ['Hassan', 'ALi', 'Muneeb', 'Ahmed'], 'Rollno': [1, 2, 3, 4]})
df2 = pd.DataFrame({'name': ['Ahmed', 'Faiz', 'Wasi', 'Muneeb'], 'Rollno': [5, 6, 7, 8]})

# merge the DataFrames based on the 'name' column
result = pd.merge(df1, df2, on='name')
print(result)

     name  Rollno_x  Rollno_y
0  Muneeb         3         8
1   Ahmed         4         5

In [7]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['X', 'Y', 'Z'])
df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]}, index=['X', 'Y', 'Z'])

# join the DataFrames based on index
result = df1.join(df2)
print(result)

   A  B  C   D
X  1  4  7  10
Y  2  5  8  11
Z  3  6  9  12

In [10]:
import numpy as np

arr1d = np.array([1, 2, 3, 4, 5, 6])

# reshape the array to a 2D array with 2 rows and 3 columns
arr2d = arr1d.reshape((2, 3))

print(arr2d)

[[1 2 3]
 [4 5 6]]